@model ContentModel
@{
    Layout = (Model.CurrentContent != null && Model.CurrentContent.Seolink.Contains("shema-proezda-k-tfoms-ri")) ? "~/Views/Shared/_LayoutMap.cshtml" : "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = Model.CurrentContent != null ? $"{Model.CurrentContent.Title} ТФ ОМС РИ" : string.Empty;
}
@{
    if (Model.CurrentContent != null)
    {
        <!-- DIV BREADCRUMBS КОНТЕНТА -->

        if (Model.CurrentContent.CategoryId == 1 || Model.CurrentContent.CategoryId == 6)
        {
            <div class="row mh-100">
                <div class="col-12">
                    @{
                        var BreadCrumbs = Model.BreadCrumbs;
                    }
                    <partial name="_Breadcrumb" model="BreadCrumbs" />
                </div>
            </div>
        }


        <!-- СТРАНИЦА КОНТЕНТА -->
        if (Model.CurrentContent.Seolink.Contains("shema-proezda-k-tfoms-ri"))
        {
            <div class="row mh-100">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3 ps-4">
                    <h2 class="fw-bold">@Model.CurrentContent.Title</h2><br />
                    @Html.Raw(Model.CurrentContent.Description)
                </div>

                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-9 col-xxl-9 pe-4">
                    @Html.Raw(Model.CurrentContent.Content)
                </div>
            </div>

            <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&mode=debug&onload=initMap" type="text/javascript"></script>

            <script type="text/javascript">
                let tfomsMap;
                //let footerHeight = document.getElementById("footer").offsetHeight;
                // Выполняем функцию инициализации карты указанную при загрузки API onload=initMap
                function initMap(ymaps) {
                    tfomsMap = new ymaps.Map("TfomsMap",
                        {
                            //Координаты центра карты, где находится ТФОМС РИ
                            /* center: [43.309576, 45.029857],*/
                            //center: [43.310550, 45.029364],
                            center: [43.311207, 45.028648],
                            zoom: 15, // коэффициент масштабирования,
                            controls: ['zoomControl', 'geolocationControl', 'typeSelector']
                        },
                        {
                            typeSelectorFloat: 'left'
                        });

                    //Координаты здания "ТФОМС РИ"
                    let placemark = new ymaps.Placemark([43.310319, 45.027520],
                        {
                            hideIcon: false,
                            iconCaption: `ТФ ОМС РИ.`
                        },
                        {
                            preset: 'islands#orangeIconWithCaption',
                            iconColor: '#f66f0a'
                        }
                        //,старый закоммеченный код, возможно в будущем пригодится
                        //{
                        //    iconLayout: 'default#image',
                        //    //iconImageHref: '/images/logo-png.png',
                        //    iconImageSize: [32, 32],
                        //    iconImageOffset: [-16, -16]
                        //}
                    );

                    //Устанавливает содержимое балуна(метки для ООО "МАЯК")
                    tfomsMap.geoObjects.add(placemark)
                }
                document.addEventListener("DOMContentLoaded", function () {
                    //Устанавливаем высоту контейнера для Яндекс Карт в
                    //странице Контакты
                    SetTfomsMapHeight("TfomsMap");
                });

              
            </script>
        }
        else
        {
            <div class="row">
                <div class="col-12">
                    <div class="d-flex flex-row flex-nowrap justify-content-between align-content-start">
                        <h2 class="mb-3 fw-bolder text-primary text-wrap">
                            @Model.CurrentContent.Title
                        </h2>
                    </div>
                    <hr />

                    <div class="paragraf-text">
                        @Html.Raw(Model.CurrentContent.Content)
                    </div>
                    <hr />
                </div>
            </div>
        }
    }
}
