@model BaseModel

<aside>
    <!-- НАЧАЛО БОКОВОЕ МЕНЮ НАВИГАЦИЯ -->
    <form action="/" method="post">
        <div class="input-group mb-3">
            <input class="form-control" type="search" placeholder="Поиск по сайту" aria-label="Search">
            <button class="btn btn-primary" type="button">Найти</button>
        </div>
    </form>
    <hr />
    <ul class="list-unstyled">
        <li>
            <a class="btn btn-pembe-gradient mb-2 w-100 d-inline-flex" title="Контакт-центр" href="@($"{Model.SiteUrl}/menu/kontakttsentr-v-sfere-obyazatelnogo-med.html")">
                <img src="~/images/web/kontact_center_new.png" />
                <span class="fw-bold text-danger ps-2 d-flex text-start align-items-center justify-content-start">КОНТАКТ ЦЕНТР<br />8-800-333-88-06</span>
            </a>
        </li>
        <li>
            <a class="btn btn-pembe-gradient mb-2 w-100 d-inline-flex" title="Горячая линия" href="@($"{Model.SiteUrl}/menu/goryachaya-liniya-v-sfere-obyazatelnogo.html")">
                <img src="~/images/web/phone1_new.png" />
                <span class="fw-bold text-danger ps-2 d-flex text-start align-items-center justify-content-start">ГОРЯЧАЯ ЛИНИЯ<br /> 8-800-555-20-03</span>
            </a>
        </li>
        <li>
            <a class="btn btn-light-secondary-gradient mb-2 w-100 d-inline-flex" title="Проверить полис" href="@($"{Model.SiteUrl}/menu/servis-dlya-proverki-aktualnosti-polis.html")">
                <img src="~/images/web/oms1_new.png" />
                <span class="fw-bold text-dark ps-2 d-flex text-start align-items-center justify-content-start">ПРОВЕРИТЬ ПОЛИС</span>
            </a>
        </li>
        <li>
            <a class="btn btn-light-secondary-gradient mb-2 w-100 d-inline-flex" title="Войти в личный кабинет" href="@($"{Model.SiteUrl}/menu/lichnyy-kabinet-gosuslugi.html")">
                <img src="~/images/web/lichn_kab_new.png" />
                <span class="fw-bold text-dark ps-2 d-flex text-start align-items-center justify-content-start">ВОЙТИ В ЛИЧНЫЙ<br /> КАБИНЕТ</span>
            </a>
        </li>
        <li>
            <a class="btn btn-light-secondary-gradient mb-2 w-100 d-inline-flex" title="Это важно знать" href="@($"{Model.SiteUrl}/menu/servis-dlya-proverki-aktualnosti-polis.html")">
                <img src="~/images/web/aktual_vopros1_new.png" />
                <span class="fw-bold text-dark ps-2 d-flex text-start align-items-center justify-content-start" href="@($"{Model.SiteUrl}/menu/servis-dlya-proverki-aktualnosti-polis.html")">ЭТО ВАЖНО ЗНАТЬ</span>
            </a>
        </li>

        <!-- НАЧАЛО ЗАБЛОЧЕННОЕ МЕНЮ

    @*<li>
        <a class="btn btn-light-secondary-gradient mb-2 w-100 d-inline-flex" title="Узнать о диспансеризации" href="@($"{Model.SiteUrl}/3019/servis-dlya-proverki-aktualnosti-polis.html")">
            <img  src="~/images/web/dispanserizactiya_new.png" />
            <span class="fw-bold text-dark ps-2 d-flex text-start align-items-center justify-content-start">УЗНАТЬ О<br />ДИСПАНСЕРИЗАЦИИ</span>
        </a>
    </li>
    <li>
        <a class="btn btn-light-secondary-gradient mb-2 w-100 d-inline-flex" title="Здесь пройти профилактику" href="@($"{Model.SiteUrl}/3019/servis-dlya-proverki-aktualnosti-polis.html")">
            <img  src="~/images/web/profy_new.png" />
            <span class="fw-bold text-dark ps-2 d-flex text-start align-items-center justify-content-start">ЗДЕСЬ ПРОЙТИ<br />ПРОФИЛАКТИКУ</span>
        </a>
    </li>
    <li>
        <a class="btn btn-light-secondary-gradient mb-2 w-100 d-inline-flex" title="Найти места для госпитализации" href="@($"{Model.SiteUrl}/3019/servis-dlya-proverki-aktualnosti-polis.html")">
            <img  src="~/images/web/eir2_new.png" />
            <span class="fw-bold text-dark ps-2 d-flex text-start align-items-center justify-content-start">НАЙТИ МЕСТА ДЛЯ<br />ГОСПИТАЛИЗАЦИИ</span>
        </a>
    </li>
    <li>
        <a class="btn btn-light-secondary-gradient mb-2 w-100 d-inline-flex" title="Обратиться за помощью" href="@($"{Model.SiteUrl}/3019/servis-dlya-proverki-aktualnosti-polis.html")">
            <img  src="~/images/web/predstavitel_new.png" />
            <span class="fw-bold text-dark ps-2 d-flex text-start align-items-center justify-content-start">ОБРАТИТЬСЯ ЗА<br />ПОМОЩЬЮ</span>
        </a>
    </li>*@

        КОНЕЦ ЗАБЛОЧЕННОЕ МЕНЮ -->

        <li>
            @*href="@($"{Model.SiteUrl}/3019/servis-dlya-proverki-aktualnosti-polis.html")"*@
            <a class="btn btn-light-secondary-gradient mb-2 w-100 d-inline-flex" title="Задать вопрос" asp-controller="Home" asp-action="AskQuestion">
                <img src="~/images/web/vopros1_new.png" />
                <span class="fw-bold text-dark ps-2 d-flex text-start align-items-center justify-content-start">ЗАДАТЬ ВОПРОС</span>
            </a>
        </li>
        <li>
            <a class="btn btn-light-secondary-gradient mb-2 w-100 d-inline-flex" title="Направить обращение" href="@($"{Model.SiteUrl}/menu/servis-dlya-proverki-aktualnosti-polis.html")">
                <img src="~/images/web/napr_obr1_new.png" />
                <span class="fw-bold text-dark ps-2 d-flex text-start align-items-center justify-content-start">НАПРАВИТЬ<br />ОБРАЩЕНИЕ</span>
            </a>
        </li>
        <li>
            <a class="btn btn-light-secondary-gradient mb-2 w-100 d-inline-flex" title="Управление полисом" href="@($"{Model.SiteUrl}/menu/servis-dlya-proverki-aktualnosti-polis.html")">
                <img src="~/images/web/gosuslugi_new2.png" />
                <span class="fw-bold text-dark ps-2 d-flex text-start align-items-center justify-content-start">УПРАВЛЕНИЕ<br /> ПОЛИСОМ ОМС</span>
            </a>
        </li>
    </ul>

    <!-- КОНЕЦ БОКОВОЕ МЕНЮ НАВИГАЦИЯ -->
</aside>
